/* body {
  background: #fefefe;
} */

:root {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #222222 !important;
  color: #ffffff !important;
}

.bg-green {
  background: #0699a6 !important;
}
.bg-brown {
  background-color: #fcfbf8 !important;
  /* transform: skewY(-5deg); */
}
/* HEADER */
.header {
  background-color: #f1f1f1;
  overflow-x: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0% 100%);
  padding-bottom: 90px;
  padding-top: 90px;
}

.header-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}

.img-circle {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.header-badge {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9e8c6c;
}

.header-title {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 126px;
  line-height: 112px;
  letter-spacing: -2.17241px;
  color: #000000;
}

.header-text {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

/* SIDEBAR */

.skillset-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #9e8c6c;
}

.skillset-text {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 34px; */
  color: #000000;
}

.career-head {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
}

.career-text {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  /* line-height: 34px; */
  color: #000000;
}

.work-list a {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  color: #0699a6;
  text-decoration: none;
}

.main-content {
  margin-left: 350px;
  padding: 20px;
}

.about-title {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #000000;
}

.about-text {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: #000000;
}

.experience-title {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #9e8c6c;
}

.experience-text {
  font-family: "PT Sans Narrow", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  color: #000000;
}
/* FOOTER */
.footer {
  background-color: #f1f1f1;
  /* overflow-x: hidden; */
  clip-path: polygon(0 19%, 100% 0, 100% 100%, 0% 100%);
  padding-bottom: 90px;
  padding-top: 90px;
}

.footer-title {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 66px;
  line-height: 82px;
  text-align: center;
  letter-spacing: -1.13793px;
  color: #000000;
}
.footer-text a {
  font-family: "Playfair Display", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  color: #0699a6;
  text-decoration: none;
}

.footer-icon a{
  display: inline-block;
  margin-right: 20px;
  color: #0699a6;
}

.footer-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  border-radius: 50px;
  z-index: 1000;
}

.bi {
  font-size: 30px;
}

.horizontal-shape {
  display: inline-block;
  width: 71px;
  height: 10px;
  background: #0699a6;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-details {
    text-align: center !important;
    margin-bottom: 100px !important;
  }

  .main-row {
    flex-direction: column-reverse;
  }

  .col-lg-4 {
    margin-bottom: 3rem;
  }

  .skill-detail,
  .experience-detail {
    margin: 0 10px;
  }
}

/* @media only screen  and (max-width: 767px) {
  .hero-details {
    text-align: center !important;
  }

  .main-row {
    flex-direction: column-reverse;
  }

  .col-lg-4 {
    margin-bottom: 3rem;
  }

  .skill-detail,
  .experience-detail {
    width: 100%;
  }
} */






@media only screen and (max-width: 767px) {
    .header {
      padding-top: 2rem;
    }
    
    .header-img {
      text-align: center;
      margin-bottom: 2rem;
    }
    
    .hero-details {
      text-align: center;
      padding: 2rem;
    }
    
    .header-btn {
      text-align: center;
      margin-top: 2rem;
    }
    
    .main-row {
      flex-direction: column-reverse;
    }
    
    .skill-detail {
      margin-right: 0;
      margin-bottom: 2rem;
    }
    
    .experience-detail {
      margin-left: 0;
    }
  }
